---
const pageTitle="Astro Home";
const skills=["A","B","C"]
const skillColor = "lightblue";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{skillColor}}>
			h1 {
				color: purle;
				font-size: 4 rem;
			}
			.skill {
				color: var(--skillColor);
				font-weight: bold;
			}
		</style>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        
        
		<h1>{pageTitle}</h1>
		<p>This is content of the page</p>
		<ul>
			{skills.map((skill) => <li class="skill"> {skill}</li>)}
		</ul>
	</body>
</html>
